body {
    background-color: cadetblue; /* Light grey background */
    color: #333333; /* Dark grey text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
        h1 {
            color: #2c3e50;
        }
		button a {
			width: 100px;
			    height: 40px;
			    background: #007bb5;
			    border: 2px solid #007bb5;
			    margin-top: 13px;
			    color: #fff;
			    font-size: 15px;
			    border-bottom-right-radius: 5px;
			    border-bottom-right-radius: 5px;
			    transition: 0.2s ease;
			    cursor: pointer;
		}
        button:hover {
            color: #2980b9;
        }
        .links {
            margin-top: 20px;
			background-color: lightseagreen;
			
        }
	